.mini-product-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);
    margin: 5px;
    width: 280px;
    border: 1px soid rgb(245,245,245);
    box-shadow: 0px 0px 5px 0px grey;
    /*justify-content: space-evenly;*/
    padding: 10px;
    align-items: center;
    height:400;
    border-radius: 10px;
}

.mini-img-container {
    height: 220px;
    display:flex;
    align-items: center;
}

.mini-product-container img{
    max-width: 220px;
    max-height: 200px;
}

.mini-producttitle{
    font-size: 20px;
    font-weight: 700;
}

.price-container{
    display: flex;
    padding:0px;
    margin: 0px;
    flex-direction: column;
}

.mrp, .salesprice, .yousave{
    display: flex;
    margin: 0px;
    line-height: 0px;
    padding: 5px;
}

.showmore-btn{
    background-color: white;
    color: grey;
    border: 2px solid grey;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.showmore-btn:hover{
    color: black;
    font-weight: 600;
}
