.allcartitems{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-head{
    display: block;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 3px;
    color: black;
    border-bottom: 3px solid black;
}
.proceed{
    display: flex;
    justify-content: center;

}

.proceed button{
    background-color: white;
    color: grey;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 60px;
}

.proceed button:hover{
    color:black;
}